$hamburger-layer-width         : 28px;
$hamburger-layer-border-radius : 0px;
$hamburger-layer-height        : 2px;
$hamburger-padding-y           : 18px;
$hamburger-layer-spacing       : 7px;
$hamburger-layer-color         : #949494;
@import 'hamburgers/_sass/hamburgers/hamburgers.scss';

.hamburger:focus {
    outline: none;
}

.Nav {
    background-color: white;
    height: 55px;
    position: fixed;
    width: 100%;
    z-index: 99;
}

.Nav__mac_drag_bar {
    height: 30px;
    -webkit-app-region: drag;
}

.Nav__content {
    background-color: white;
    height: 55px;
    position: relative;
    box-shadow: 0 2px 3px -2px black;
}

.Nav__logo {
    font-size: 30px;
    font-weight: 400;
    letter-spacing: 1px;
    position: absolute;
    left: 65px;
    top: 50%;
    transform: translateY(-50%);
}

.Nav__name {
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 1px;
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    letter-spacing: 0.1px;
}