.PageEntry {
  background-color: #ffffff;
  padding: 10px;
  margin-bottom: 6px;
  position: relative;
  border-radius: 5px;
  display: flex;
}

.PageEntry__left_col {
  flex: 85%;
  min-width: 0;
}

.PageEntry__right_col {
  flex: 15%;
}

.PageEntry__title_div {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.PageEntry__title {
  font-size: 20px;
  display: inline-block;
  margin-bottom: 0px;
  color: black;
}

.PageEntry__footer {
  display: block;
}

.PageEntry__domain_name {
  color: #636363;
}

.PageEntry__word_count_div {
  float: right;
  height: 44px;
  text-align: center;
  line-height: 40px;
}

.PageEntry__small_button {
  margin-left: 15px;
  cursor: pointer;
  text-decoration: underline;
  color: #636363;
}

.PageEntry__word_count_num_text {
  font-size: 40px;
}

.PageEntry__word_count_text {
  font-size: 20px;
}


.PageEntry__button_div {
  position: absolute;
  bottom: 10px;
  right: 10px;
  width: 300px;
  height: 30px;
  text-align: right;
}

.PageEntry__button {
  display: inline-block;
  padding: 4px 10px;
  margin-left: 10px;
  border-radius: 5px;
  cursor: pointer;
}

.coloured {
  color: #4800ff;
  border: solid #4800ff 2px;
}

.danger {
  color: #d9534f;
  border: solid #d9534f 2px;
}