.SideBar {
    background-color: white;
    height: 100vh;
    width:270px;
    float:left;
    padding-top: 25px;
    position: fixed;
    z-index: 80;
    top: 55px;
}

.SideBar__mac {
    top: 85px;
}

.SideBar__hide {
    transform: translateX(-271px);
}