.View {
    overflow-y: scroll;
    height: calc(100% - 55px);
    background-color: #e9edef;
    margin-top: 55px;
    position: fixed;
    width: 100%;
    overflow-x: hidden;
}

.View__sidebar_opened {
    filter: blur(1.2px) brightness(0.4);
}