.View {
    overflow-y: scroll;
    height: calc(100% - 55px);
    background-color: #e9edef;
    transition: all 0.5s ease;
    transition-property: filter, padding-left;
    
}

.View__sidebar_opened {
    filter: blur(1.2px) brightness(0.4);
    /* padding-left: 275px; */
}